body {
  font: 400 15px Open Sans, sans-serif;
  line-height: 1.8;
  color: #818181;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  margin-bottom: 30px;
}

.jumbotron {
  background-color: #ECF0F1;
  color: #2980B9;;
  padding: 100px 25px;
  font-family: Open Sans, sans-serif;
}

.container-fluid {
  padding: 60px 50px;
}

.project:nth-of-type(odd) {
  color: #FFF;
  background: #2980B9;
}

.project:nth-of-type(even) {
  color: #2980B9;
  background: #FFF;
}

.project .project-img {
  border: 5px solid;
  border-radius:5px;
}

.project .btn {
  padding: 1rem 3rem;
}

.project .btn:hover {
filter: brightness(85%);
}

.project:nth-of-type(even) .btn {
  border: 5px solid #2980B9 !important;
  background-color: #FFF !important;
  color: #2980B9;
}

.project:nth-of-type(odd) .btn {
  border: 5px solid #FFF !important;
  background-color: #2980B9 !important;
  color : #FFF;
}

.img-responsive {
  margin: 0 auto;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #000000;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
